html {
    height: 100%;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100%;
}

#balk {
    background-color: red;
    width: 100%;
    height: 13%;
}

#demeeuwen {
    width: 60%;
}

#menu {
    background-color: white;
    width: 100%;
    height: 47px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#container {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
}

#berichten {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
}



.informatie{
    background-color: lightblue;
    width: 40%;
    height: 30%;
    margin-left: 5%;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 5px;
}

p{
    margin-left: 2%;
}

h1{
    margin-left: 2%;
}

.team{
    margin-left: 5%;
    margin-top: 7%;
}

.berichten {
    background-color: white;
    width: 100%;
    height: 100%;
}

.tekst{
    background-color: rgb(224, 135, 212);
    width: 60%;
    height: 30%;
    margin-left: 4%;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 5px;
}

.spelers{
    background-color: lightblue;
    width: 50%;
    height: 45%;
    margin-left: 4%;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 5px;
}

.aanvaller{
    margin-top: 10%;
}

.verhaal{
    width: 100%;
    height: 100%;
    display: flex;
}

.wedstrijden{
    background-color: lightblue;
    width: 50%;
    height: 30%;
    margin-left: 5%;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 5px;
}

.volleybal{
    width: 50%;
    margin-left: 10%;
    margin-top: 8%;
}

.uitslaggen{
    display: flex;
    width: 100%;
    height: 100%;
}

.uitslagen{
    background-color: lightblue;
    width: 40%;
    height: 30%;
    margin-left: 5%;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 5px;
}

.uitslag{
    margin-left: 8%;
    margin-top: 5%;
}

.berichten{
    width: 100%;
    height: 100%;
}

.stand{
    background-color: lightblue;
    width: 20%;
    height: 30%;
    margin-left: 10%;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 5px;
}

.fotos{
    background-color: white;
}